<a href="https://colab.research.google.com/github/jader-lima/TimeSeriesLSTM/blob/master/Parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
url = 'https://raw.githubusercontent.com/jader-lima/TimeSeriesLSTM/master/passageiros.csv'
passageiros = pd.read_csv(url, error_bad_lines=False)

In [7]:
passageiros

           tempo  passageiros
0    1949.000000          112
1    1949.083333          118
2    1949.166667          132
3    1949.250000          129
4    1949.333333          121
..           ...          ...
139  1960.583333          606
140  1960.666667          508
141  1960.750000          461
142  1960.833333          390
143  1960.916667          432

[144 rows x 2 columns]